@import "./variables";

@font-face {
  font-family: nunito-bold;
  src: url(../../dist/fonts/Nunito-Bold.ttf);
}

@font-face {
  font-family: nunito-regular;
  src: url(../../dist/fonts/Nunito-Regular.ttf);
}

@mixin right-closed-styles {
  overflow: hidden;
  transition: 0.3s;
  padding: 0;
  width: 0;
  & > * {
    visibility: hidden;
  }
}

@mixin left-closed-styles {
  border-radius: 0;
  .main-section {
    width: 100%;
    max-width: 88vw;
  }
}

@mixin fixed-right-styles {
  display: block;
  position: fixed;
  width: 250px;
  background-color: $dark;
  padding: 0 20px;
  height: 100vh;
  top: 0;
  right: 0;
  visibility: visible !important;
  box-shadow: 10px 18px 18px 3px rgba(0, 0, 0, 0.1);
  > * {
    visibility: visible;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

body {
  background-color: $dark;
}

body,
html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

.page-loader {
  height: 100vh;
  width: 100vw;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  .loader {
    height: 100px;
    width: 110px;
    position: relative;
    animation: rotation 5s infinite linear;
    transition: 0.3s;
    > :nth-child(1) {
      margin-left: auto;
      margin-right: auto;
      background-color: rgb(201, 115, 34);
    }
    > :nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 0;
      background-color: rgb(119, 46, 197);
    }
    > :nth-child(3) {
      position: absolute;
      right: 0;
      bottom: 0;
      background-color: rgb(225, 236, 6);
    }
    > * {
      height: 30px;
      width: 30px;
      border-radius: 100%;
    }
  }
}

#hamburger {
  $dimensions: 50px;
  position: fixed;
  top: 10px;
  right: 10px;
  min-height: $dimensions;
  min-width: $dimensions;
  max-height: $dimensions;
  max-width: $dimensions;
  background-color: $dark;
  border: none;
  border-radius: 100%;
  z-index: 1;
  box-shadow: -5px 13px 12px 3px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: $tab) {
    display: none;
  }
  & > div {
    height: 2px;
    background-color: white;
    border-radius: 4px;
    width: 80%;
  }
  & > :nth-child(2) {
    margin: 5px 0;
  }
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
  // .scroll-y {
  //   overflow-y: auto;
  //   scrollbar-width: none;
  //   &::-webkit-scrollbar {
  //     display: none;
  //   }
  // }
  .center {
    text-align: center;
  }
  .heading {
    margin: 0;
    font-family: nunito-bold;
    color: white;
    line-height: 21px;
  }
  .paragraph {
    font-family: nunito-regular;
    font-size: 15px;
    @media (min-width: $big) {
      font-size: 17px;
    }
  }
  .rss-links {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin: 1rem 0;
  }
  a {
    color: white;
  }
  &.closed {
    .right {
      @include right-closed-styles;
      @media (max-width: $big-tab) {
        transition: 0.3s;
        width: 0;
      }
      @media (max-width: $tab) {
        @include fixed-right-styles;
      }
    }
    .left {
      @include left-closed-styles;
    }
  }
  & > * {
    height: 100vh;
    width: 100%;
  }

  .left {
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    background-color: $charcoal;
    display: flex;
    position: relative;
    @media (max-width: $tab) {
      @include left-closed-styles;
      transition: none;
      .main-section {
        max-width: 100vw !important;
      }
      .canvas-container {
        width: 100% !important;
        max-width: 100% !important;
      }
    }
    .main-section {
      width: 100%;
      padding: 50px 80px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 70vw;
      @media (max-width: $big-tab) {
        width: 80%;
        padding: 50px 40px;
      }
      @media (max-width: $tab) {
        padding: 50px 20px;
        width: 100%;
        max-width: unset !important;
      }
      .intro {
        height: 25%;
        max-height: 300px;
        // overflow-y: scroll;
        background-color: $dark-pink;
        border-radius: $curved-border;
        gap: 30px;
        box-shadow: 7px 7px 18px 15px rgba(0, 0, 0, 0.1);
        padding: 40px 60px;
        overflow: hidden;
        font-family: sans-serif;
        color: white;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        @media (max-width: $tab) {
          overflow-y: scroll;
          display: block;
          border-radius: $curved-border - 20px;
          > :not(:nth-child(1)) {
            margin-bottom: 30px;
          }
          > :last-child {
            margin-bottom: 0;
          }
          > * {
            height: fit-content !important;
          }
        }
        > * {
          flex-grow: 1;
          flex-basis: 0;
          // padding: 0 15px;
          height: 100%;
          overflow: hidden;
          overflow-y: auto;

          // &::-webkit-scrollbar {
          //   display: none;
          // }
        }
        // &::-webkit-scrollbar {
        //   display: none;
        // }
      }
      .canvas-container {
        height: 70%;
        border-radius: $curved-border;
        background-color: $dark;
        box-shadow: 2px 18px 18px 3px rgba(0, 0, 0, 0.1);
        padding: 45px 60px;
        box-sizing: border-box;
        // max-width: calc(75vw - 220px);
        // width: calc(75vw - 220px);
        overflow: hidden;
        overflow-x: scroll;

        @media (max-width: $tab) {
          max-width: 100% !important;
          width: 100% !important;
          padding: 45px;
          overflow-x: hidden;
        }
        @media (hover: none) {
          overflow-x: hidden;
        }
        &::-webkit-scrollbar {
          display: none;
        }
        .canvas {
          height: 100%;
          width: 100%;
          width: 78vw;
        }
      }
      .toggler-container {
        $height: 40px;
        $width: 40px;
        position: absolute;
        right: 0;
        top: 43%;
        @media (max-width: $tab) {
          display: none;
        }
        .top-curve {
          width: $width;
          height: $height;
          background-color: $dark;
          &::before {
            width: $width;
            height: $height;
            display: block;
            content: "";
            position: absolute;
            background-color: $charcoal;
            border-bottom-right-radius: 20px;
          }
        }
        .bottom-curve {
          width: $width;
          height: $height;
          background-color: $dark;
          &::before {
            width: $width;
            height: $height;
            display: block;
            content: "";
            position: absolute;
            background-color: $charcoal;
            border-top-right-radius: 20px;
          }
        }
        .toggler {
          width: $width;
          height: $height;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
          background-color: $dark;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
          .arrow-png {
            height: 10px;
            width: 10px;
          }
        }
      }
    }
  }

  .right {
    transition-timing-function: ease-out;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    transition: width 0s !important;
    max-width: 400px;
    @media (max-width: $tab) {
      display: none;
    }
    .instruction {
      height: 200px;
      background-image: radial-gradient($blue, $purple);
      border-radius: $curved-border - 20px;
      margin: 50px 0 30px 0;
      padding: 25px;
      box-sizing: border-box;
      text-align: center;
      color: white;
      overflow: hidden;
      -ms-overflow-style: none;
      display: flex;
      align-items: center;

      .inner {
        height: fit-content;
        max-height: 100%;
        overflow-y: auto;
        -ms-overflow-style: none;
      }
    }
    .coords-container {
      overflow-y: auto;
      max-height: 500px;
      -ms-overflow-style: none;
      // &::-webkit-scrollbar {
      //   display: none;
      // }
      & > * {
        margin-bottom: 30px;
      }
      .coord-box {
        height: 70px;
        background-color: $charcoal;
        border-radius: $curved-border - 20px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        .coord-section {
          align-items: center;
          justify-content: center;
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
          padding: 0 10px;
          box-sizing: border-box;
          width: 100%;
          & > :nth-child(2) {
            margin-left: 10px;
          }
          input {
            height: 40px;
            width: 100%;
            display: block;
            background-color: transparent;
            font-size: 30px;
            border: none;
            background-color: $dark;
            border-radius: 10px;
            color: rgb(202, 200, 200);
            text-align: center;
            max-width: 8vw;
            min-width: 85px;
          }
        }
        .add-red-container {
          position: absolute;
          bottom: -10px;
          right: 10px;
          display: flex;
          & > * {
            display: block;
            border: 0;
            padding: 0;
            font-size: 100%;
            color: white;
            border-radius: 100%;
            height: $sign-dimension;
            width: $sign-dimension;
            text-align: center;
            font-weight: 700 !important;
            &:hover {
              cursor: pointer;
            }
          }
          & > .add-coord-box {
            background-color: $purple;
            position: relative;
            $inner-sign-width: $sign-dimension - 8px;
            $thickness: 3px;
            &::before {
              content: "";
              display: block;
              background-color: white;
              top: 9px;
              margin-left: ($sign-dimension - $inner-sign-width) / 2;
              position: absolute;
              height: $thickness;
              width: $inner-sign-width;
            }
            &::after {
              content: "";
              display: block;
              background-color: white;
              width: $thickness;
              height: $inner-sign-width;
              margin-top: ($sign-dimension - $inner-sign-width - 5px) / 2;
              margin-left: ($sign-dimension / 2) - ($thickness / 2);
            }
          }
          & > .remove-coord-box {
            margin-left: 5px;
            background-color: $dark-pink;
            position: relative;
            $inner-sign-width: $sign-dimension - 8px;
            $thickness: 3px;
            &::before {
              content: "";
              display: block;
              background-color: white;
              top: 9px;
              margin-left: ($sign-dimension - $inner-sign-width) / 2;
              position: absolute;
              height: $thickness;
              width: $inner-sign-width;
            }
          }
        }
      }
    }
  }

  .nav {
    width: 120px;
    background-color: $dark;
    border-radius: $curved-border;
    margin: 30px 0 auto 20px;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.1);
    padding: 40px 0;
    box-sizing: border-box;
    @media (max-width: $big-tab) {
      width: 80px;
    }
    @media (max-width: $tab) {
      position: fixed;
      left: 0;
      top: 0;
      margin: 10px 0 0 10px;
      width: fit-content;
      height: fit-content;
      padding: 10px;
      ul {
        display: flex;
        :not(:last-child) {
          margin: 0px 10px 0 0 !important;
        }
        li {
          height: fit-content;
          img {
            height: 30px !important;
            width: 30px !important;
          }
        }
      }
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      width: 100%;
      :not(:last-child) {
        margin: 0px auto 35px auto;
      }
      li {
        img {
          margin-left: auto;
          margin-right: auto;
          display: block;
          height: 50px;
          width: 50px;
        }
      }
    }
  }
}

.transition {
  @media (min-width: $tab) {
    transition: 0.3s !important;
  }
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;

  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(231, 93, 144, 0.4);
  border-radius: 10px;
}
