@import "./variables";

body {
  background-color: $dark;
}

body,
html {
  margin: 0;
  padding: 0;
  max-height: 100vh;
  height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  height: 100vh;
  width: 100vw;
  &.closed {
    .right {
      width: 0;
      overflow: hidden;
      padding: 0;
      & > * {
        visibility: hidden;
      }
    }
    .left {
      transition: 0.3s border-radius ease-out;
      border-radius: 0;
    }
  }
  & > * {
    height: 100vh;
    width: 100%;
  }

  .left {
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    background-color: $charcoal;
    display: flex;
    position: relative;
    .main-section {
      width: 100%;
      padding: 50px 80px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .intro {
        height: 25%;
        background-color: $dark-pink;
        border-radius: $curved-border;
        box-shadow: 7px 7px 18px 15px rgba(0, 0, 0, 0.1);
      }
      .canvas-container {
        height: 50%;
        border-radius: $curved-border;
        background-color: $dark;
        box-shadow: 2px 18px 18px 3px rgba(0, 0, 0, 0.1);
        padding: 45px 60px;
        box-sizing: border-box;
        .canvas {
          height: 100%;
          width: 100%;
        }
      }
      .math {
        height: 15%;
        box-shadow: 2px 18px 18px 3px rgba(0, 0, 0, 0.1);
        border-radius: $curved-border;
        background-color: $purple;
      }
      .toggler-container {
        $height: 40px;
        $width: 40px;
        position: absolute;
        right: 0;
        top: 43%;
        .top-curve {
          width: $width;
          height: $height;
          background-color: $dark;
          &::before {
            width: $width;
            height: $height;
            display: block;
            content: "";
            position: absolute;
            background-color: $charcoal;
            border-bottom-right-radius: 20px;
          }
        }
        .bottom-curve {
          width: $width;
          height: $height;
          background-color: $dark;
          &::before {
            width: $width;
            height: $height;
            display: block;
            content: "";
            position: absolute;
            background-color: $charcoal;
            border-top-right-radius: 20px;
          }
        }
        .toggler {
          width: $width;
          height: $height;
          border-top-left-radius: 40px;
          border-bottom-left-radius: 40px;
          background-color: $dark;
          display: flex;
          justify-content: center;
          align-items: center;
          &:hover {
            cursor: pointer;
          }
          .arrow-png {
            height: 10px;
            width: 10px;
          }
        }
      }
    }
  }

  .right {
    width: 25vw;
    transition: 0.3s;
    transition-timing-function: ease-out;
    padding: 20px 20px 0 20px;
    box-sizing: border-box;
    .instruction {
      height: 150px;
      background-image: radial-gradient($blue, $purple);
      border-radius: $curved-border - 20px;
      margin: 50px 0 30px 0;
    }
    .coords-container {
      overflow-y: auto;
      max-height: 500px;
      -ms-overflow-style: none;
      scrollbar-width: none;
      &::-webkit-scrollbar {
        display: none;
      }
      & > * {
        margin-bottom: 30px;
      }
      .coord-box {
        height: 70px;
        background-color: $charcoal;
        border-radius: $curved-border - 20px;
        position: relative;
        display: flex;
        justify-content: space-evenly;
        .coord-section {
          align-items: center;
          justify-content: center;
          margin-top: auto;
          margin-bottom: auto;
          display: flex;
          padding: 0 10px;
          box-sizing: border-box;
          & > :nth-child(2) {
            margin-left: 10px;
          }
          input {
            height: 40px;
            width: 100%;
            display: block;
            background-color: transparent;
            font-size: 30px;
            border: none;
            background-color: $dark;
            border-radius: 10px;
            color: rgb(202, 200, 200);
            text-align: center;
          }
        }
        .add-red-container {
          position: absolute;
          bottom: -10px;
          right: 10px;
          display: flex;
          & > * {
            color: white;
            border-radius: 100%;
            height: $sign-dimension;
            width: $sign-dimension;
            text-align: center;
            font-weight: 700 !important;
            &:hover {
              cursor: pointer;
            }
          }
          & > .add-coord-box {
            background-color: $purple;
            position: relative;
            $inner-sign-width: $sign-dimension - 8px;
            $thickness: 3px;
            &::before {
              content: "";
              display: block;
              background-color: white;
              top: 9px;
              margin-left: ($sign-dimension - $inner-sign-width) / 2;
              position: absolute;
              height: $thickness;
              width: $inner-sign-width;
            }
            &::after {
              content: "";
              display: block;
              background-color: white;
              width: $thickness;
              height: $inner-sign-width;
              margin-top: ($sign-dimension - $inner-sign-width) / 2;
              margin-left: ($sign-dimension / 2) - ($thickness / 2);
            }
          }
          & > .remove-coord-box {
            margin-left: 5px;
            background-color: $dark-pink;
            position: relative;
            $inner-sign-width: $sign-dimension - 8px;
            $thickness: 3px;
            &::before {
              content: "";
              display: block;
              background-color: white;
              top: 9px;
              margin-left: ($sign-dimension - $inner-sign-width) / 2;
              position: absolute;
              height: $thickness;
              width: $inner-sign-width;
            }
          }
        }
      }
    }
  }

  .nav {
    width: 120px;
    background-color: $dark;
    border-radius: $curved-border;
    height: 97vh;
    margin: auto 0 auto 20px;
    box-shadow: 7px 7px 10px 0px rgba(0, 0, 0, 0.1);
  }
}
